.btnContainer{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.btn {
    font-size: 80px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 200ms;
}

.btn:hover {
    transform: scale(1.2);
}
.textContainer1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.textContainer2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}